<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <h1>Upgrades</h1>
    <div class="upgrade-container">
        <div class="upgrade-title wealthy-title">Wealthy Upgrade</div>
        <div class="upgrade-description">
            <p>Get exclusive features and perks with the Wealthy upgrade!</p>
        </div>
        <div class="purchase">
            <button class="purchase-button">Purchase</button>
        </div>
    </div>
    <div class="upgrade-container">
        <div class="upgrade-title colors-title">Colors Upgrade</div>
        <div class="upgrade-description">
            <p>Unlock new color themes and customization options.</p>
        </div>
        <div class="purchase">
            <button class="purchase-button">Purchase</button>
        </div>
    </div>
    <script src="/js/log.js"></script>
</body>

</html>